:root{
    --primary-acssent-clr-hsl: hsl(0, 78%, 58%);
    --primary-acssent-clr: var(--primary-acssent-clr-hsl);
    --secondary-acssent-clr: #29c5f6;
    --tritery-background-color: hsl(0, 0%, 98%);
    --quaternary-background-clr: #FFF2F3;
    --penta-background-clr: hwb(340 99% 0%);
    --text-color-1: hsl(228, 28%, 20%);
    --text-color-2: hsl(0, 0%, 45%);
    --text-color-3: hsl(0, 0%, 100%);

    --icon-clr: hsl(95, 32%, 61%);
    --font-family: "Exo", sans-serif;

    --font-bold: 700;
    --font-regular: 400;

    --font-size-1: 3rem;
    --font-size-2: 1.3rem;
    --font-size-3: 1.95rem;
    --font-size-4: 1rem;
    --font-size-5: 2.4rem;
    --font-size-6: .875rem;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--text-color-2);
}
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    width: 100%;
    background: var(--tritery-background-color);
    color: var(--text-color-2);
    font-size: var(--font-size-2);
    font-family: var(--font-family);
    font-weight: var(--font-regular);

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}
.chat-bot{
    display: grid;
    place-content: center;
    position: fixed;
    bottom: 60px;
    right: 70px;
    width: 60px;
    height: 60px;
    border-radius: 54% 46% 46% 54% / 47% 48% 52% 53% ;
    background: var(--text-color-1);
    color: var(--text-color-3);
    font-size: var(--font-size-5);
    cursor: pointer;
}
 /* header  part*/

header { 
    width: 100vw; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 20px 0; 
} 
header nav ul li { 
    display: inline-block; 
    margin-left: 20px; 
} 
header nav ul li a { 
    color: var(--text-color-2); 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: var(--font-bold);
} 
.buttons{
    width: 166px;
    height: 52px;
    margin-left: 10px; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-4);
    font-weight: var(--font-bold);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.logo img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: .5px solid var(--text-color-2);

}

.registerContact { 
    margin-left: 10px; 
    padding: 10px 20px; 
    background: var(--primary-acssent-clr);
    border: none;
    color: var(--text-color-3);
    transition: ease-in 150ms;
} 
.registerContact:hover{
    background: transparent;
    outline: .5px solid var(--primary-acssent-clr);
    color: var(--text-color-1);
}
.loginGet-start { 
    border: none; 
    border: 1px solid var(--primary-acssent-clr); 
    background: var(--text-color-3);
    position: relative;
    z-index: 99;
    transition: 200ms;
} 
.loginGet-start::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primary-acssent-clr);
    width: 0px;
    height: 52px;
    padding: 10px 20px; 
    border-radius: 5px;
    z-index: -1;
    transition: 200ms;

}
.loginGet-start:hover::after{
    width: 166px;
    background: var(--primary-acssent-clr);
}
.loginGet-start:hover{
    color: var(--text-color-3);
}
.home-section { 
    display: flex;
    align-items: center; 
    justify-content: center; 
} 


.grid-Box{
    display: flex; 
    flex-direction: column;
}
.home-main{ 
    display: flex; 
    align-items: center;
} 
.home-text{
    width: 45vw;
}
.home-text h1{ 
    font-size: var(--font-size-1); 
    color: var(--text-color-1);
} 
h1 span{
    color: var(--primary-acssent-clr);
}
.home-text p { 
    font-size: var(--font-size-4); 
    color: var(--text-color-2); 
    margin-bottom: 20px; 
} 
.home-img { 
    width: 550px;
    height: auto;
    border-radius: 10px;
}
/* flex boxes */

.service{
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 65px;
    gap: 1rem;
    border: 8px;
}


.flex-box{
    width: 320px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
    border-radius: 25px;
    gap: 1.6rem;
    background: var(--text-color-3);
    cursor: pointer;
}
.flex-box:hover{
    border: 1px solid var(--primary-acssent-clr);
    transform: scale(1.02);
}
.icon{
    display: grid;
    place-content: center;
    width: 72px;
    height: 72px;
    background-color: var(--primary-acssent-clr);
    border-radius: 50%;
    color: var(--text-color-3);
    font-size: var(--font-size-3);
}
.flex-box h3{
    font-size: var(--font-size-2);
    color: var(--text-color-1);
    font-weight: var(--font-bold);
}
.pSpan {
    display: grid;
    gap: 1rem;
}
.span{
    height: 4px;
    width: 80px;
    border-radius: 80px;
    background-color: var(--primary-acssent-clr);

}
.flex-box p{
    font-size: var(--font-size-4);
}



.about { 
    display: grid;
} 
 
.about-section { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    animation: fadeInUp 1s ease-in-out; 
} 
 
.about-text { 
    max-width: 50vw; 
    display: grid;
    gap: 1rem;
} 
.first-about{
    background: var(--text-color-3);
}
.second-about{
    background: var(--quaternary-background-clr);
    justify-content: space-around;
}
 
h2 { 
    font-size: var(--font-size-3); 
    color: var(--text-color-1); 
    margin-bottom: 20px; 
} 
 
.about-text p { 
    font-size: var(--font-size-4); 
    color: var(--text-color-2);
    max-width: 35vw; 
} 
 
.about-text .learn-more { 
    color: var(--primary-acssent-clr); 
    text-decoration: none; 
    font-size: var(--font-size-4); 
    font-weight: var(--font-bold); 
    transition: color 0.3s; 
} 
 
.about-text .learn-more:hover { 
} 
 
.about-image { 
    max-width: 45%; 
    text-align: center; 
} 
 
.about-image img { 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
} 
 
 
@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
}



/* team seaction */


.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 2rem;
    background: var(--penta-background-clr);

}
.team > p{
    color: var(--text-color-1);
    font-weight: var(--font-bold);
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: grid;
    gap: 1.2rem;
    width: 250px;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0 /.5);
    text-align: center;
    font-size: var(--font-size-4);
    padding-bottom: 2rem;
    border-radius: 50px;
background: var(--text-color-3);
box-shadow: inset 20px 20px 60px #bebebe,
}
.card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}
.profile{
    display: grid;
    gap: .5rem;
}
.profile-name{
    font-weight: var(--font-bold);
    color: var(--text-color-1);
}
.profile .discription{
    color: var(--text-color-2);
    font-size: var(--font-size-6);
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: var(--icon-clr);
    font-size: var(--font-size-2);
    border-radius: 50%;
}


/* pricing */




.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height:22px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--secondary-acssent-clr);
    transition: .4s;
    border-radius: 50px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 20px;
    top: 1px;
    transition: .4s;
    background-color: var(--text-color-3);
    border-radius: 50%;
}
input:checked + .slider:before {
      transform: translateX(-14px);
}


.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-4);
}
.pricing-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 8px;
}
.pricing-card{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.4rem;
    border-radius: 5px;
    justify-content: center;
    background: var(--text-color-3);
}
.title{
    font-weight: var(--font-bold);
}
.pricing,
.container-title{
    font-size: var(--font-size-3);
    font-weight: var(--font-bold);
    color: var(--clr-Dark-Grayish-Blue);
    color: var(--text-color-1);
}
.p{
    font-size: var(--font-size-4);
    padding: .6rem;
    padding-inline: 3.2rem;
}
.allowed-sharing{
    border-bottom: .01px solid hsl(var(--clr-Grayish-Blue-hsl), .5);
}
.btn{
    outline: 0;
    border: 0;
    height: 35px;
    border-radius: 5px;
    background: var(--secondary-acssent-clr);
    color: var(--text-color-3);
    font-weight: var(--font-bold);
    cursor: pointer;

}